@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-secondary pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-secondary max-sm:rounded-full;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }

  .logo-text {
    font-size: 2rem;
    color: #000;
    font-weight: 700;
    font-family: Merriweather;
    font-style: normal;
  }

  .button-1 {
    display: inline-flex;
    padding: 0.4375rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    border: 1px solid #000;
    background: #FFF;
    color: #000;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
  .button-2 {
    display: inline-flex;
    padding: 0.4375rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #000;
    color: #FFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }
  
}


@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-merriweather text-secondary text-lg leading-7;
  }

  .body-text {
    @apply font-crimson text-xl leading-normal;
  }

  .nav-text {
    @apply font-crimson font-normal text-xl leading-normal;
  }
  
  .profile-image {
    @apply rounded-full border-2 border-white bg-white w-[10rem] h-[10rem] object-cover shadow-lg cursor-pointer;
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
  }

  .profile-image-small {
    @apply rounded-full border-2 border-white bg-white w-[2.5rem] h-[2.5rem] object-cover shadow-lg cursor-pointer;
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110;
  }

  .header-text {
    @apply font-merriweather font-bold md:text-3xl leading-normal py-6 text-2xl;
  }
  .text-container {
    @apply rounded-3xl border items-center flex gap-2 justify-center py-[5px] px-[20px] text-xl font-crimson;
  }
  input[type='file'] {
    @apply block;
  }
}

.search {
  display: flex;
  align-items: center;
  color: #B3B3B3;
  width: 250px;
  height: 30px;
  border: 1px solid #B3B3B3;
  border-radius: 20px;
}

.search:hover {
  border: 2px solid #17A1FA66;
}

.hamburger {
  display: none;
}

.underline-blue {
  text-decoration-color: #17A1FA;
}

.orangish {
  background: #FFF3E5;
}

.blueish {
  background: #EAEFFF;
}

.reddish {
  background: #FEEAEC;
}

.greenish {
  background: #E3FFE8;
}



@media (max-width: 1024px) {
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
    color: white;
    position: fixed;
    right: 1rem;
    top: 5vh;
    z-index: 10;
    background: white;
    border-radius: 5px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #17A1FA;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}